<h3>{logo}</h3><h4>Detalles de incio y bienvenida</h4><p>
    Hola {client_name},</p><p>Te damos la bienvenida a Rocasa sistema web
    con el cual podras realizar ventas
    . </p><p>tus credenciales son:</p>
<pre>Sitio Link: {site_link}
Usuario: {email}
Contraseña: {password}
</pre><p>
    <a href="{client_link}"></a></p><p>
    Atentamente,
    <br>
    {site_name}</p>